table {
    border-collapse: collapse;
    font-size: 15px;
    width: 55%;
    margin-bottom: 0.8%;
  }
  td, th {
    /* border: 3.5px solid white; */
    padding: 2;
    height: 50px;
    padding-left: 4%;
    padding-right: 8%;
  }
  input[type=text]{
    width: 100%;
  }
  select{
    width: 100%;
  }
  th{
    background-color: #444444;
    text-align: left;
    color: white;
  }
  tr{
    background-color: #eeeeee;
  }
  .testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
  }
  .container{
    max-width: 1100.98px;
  }
  textarea
  {
    resize: none;
    overflow-y: scroll;
    height:300px;
    width: 100%;
  }